@charset "UTF-8"

body{
    background-color: skyblue;
    color: black;
}
h1{
    text-align: center;
    text-size-adjust: 20px;
}
p{
    text-align: justify;
    text-size-adjust: 15px;
    
}
h2{
    text-align: center;
    -ms-text-kashida-space: 15px;
}